.btn {
    display: inline-block;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.4em 24px 0.5em 24px;
    min-height: 32px;
    border-radius: 20px;
    font-size: 14px;

    @include sm {
        font-size: 20px;
    }
    line-height: 1;
    font-weight: 500;
    background-color: $red1;
    color: #fff;

    cursor: pointer;

    .icon,
    svg,
    img {
        height: 20px;
        margin-right: 8px;
    }

    &.btn--small {
        font-size: 14px;
        @include sm {
            font-size: 16px;
        }
    }
    &.btn--red2 {
        background-color: $red2;
    }
    &.btn--login {
        font-size: 12px;
        height: 30px;
        @include sm {
            font-size: 14px;
        }
    }
    &.btn--navy {
        background-color: $navy;
    }
    &.btn--white {
        background-color: #fff;
        color: $navy;
    }
    &.btn--disabled {
        background-color: $gray;
    }
    &.btn--stroke {
        border: 1px solid currentColor;
        background-color: transparent;
        color: currentColor;
    }

    &.btn--buy {
        font-size: 14px;
        @include sm {
            font-size: 18px;
        }
        &::before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 19px;
            background-size: contain;
            margin-right: 8px;
            background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' width='22.4px' height='21.1px' viewBox='0 0 22.4 21.1' enable-background='new 0 0 22.4 21.1' xml:space='preserve'%3E%3Cdefs%3E%3C/defs%3E%3Cpath id='Fill_7_3_' fill='%23FFFFFF' d='M17.5,21.1c-1.6,0-2.8-1.3-2.8-2.8c0-1.6,1.3-2.8,2.8-2.8c1.6,0,2.8,1.3,2.8,2.8c0,0,0,0,0,0 C20.4,19.8,19.1,21.1,17.5,21.1z M17.5,16.9c-0.8,0-1.4,0.6-1.4,1.4s0.6,1.4,1.4,1.4c0.8,0,1.4-0.6,1.4-1.4 C18.9,17.5,18.3,16.9,17.5,16.9z'/%3E%3Cpath id='Fill_7_2_' fill='%23FFFFFF' d='M7.4,21.1c-1.6,0-2.8-1.3-2.8-2.8c0-1.6,1.3-2.8,2.8-2.8s2.8,1.3,2.8,2.8c0,0,0,0,0,0 C10.3,19.8,9,21.1,7.4,21.1z M7.4,16.9c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4c0.8,0,1.4-0.6,1.4-1.4 C8.9,17.5,8.2,16.9,7.4,16.9z'/%3E%3Cpath id='Fill_4_1_' fill='%23FFFFFF' d='M17.6,14.8H7.5c-1.3,0-2.4-0.9-2.6-2.2L3.2,3C3.1,2.3,2.5,1.8,1.9,1.6L0.6,1.4 C0.2,1.4-0.1,1,0,0.6S0.5-0.1,0.8,0l1.3,0.2c1.3,0.2,2.3,1.2,2.5,2.5l0.3,1.7h16.7c0.2,0,0.4,0.1,0.6,0.3l0,0 c0.1,0.2,0.2,0.4,0.1,0.6l-2.3,7.5C19.7,14,18.7,14.7,17.6,14.8z M5.2,5.9l1.1,6.4c0.1,0.6,0.6,1,1.2,1h10.1c0.5,0,1-0.3,1.1-0.9 l2-6.5L5.2,5.9z'/%3E%3C/svg%3E%0A");
        }
    }
}

.btn--whatsapp {
    background: $green;
    color: #fff;
    border-radius: 30px;
    .icon {
        width: 38px;
        height: auto;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23FFF'  d='M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z'/%3E%3C/svg%3E");
    }
}
