.checkoutPage {
    padding: 40px 0;
    @include sm {
        padding-top: 0;
        .wrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-start;
        }

        .checkoutPage__content {
            padding-top: 40px;
            width: calc(100% - 340px);
        }
    }
}
.checkoutItem {
    position: relative;
    margin-top: 12px;
    display: block;
    .left {
        flex-grow: 1;
        @include sm {
            //padding-left: 21px;
        }
    }
    @include sm {
        margin-top: 24px;
    }
}
.checkoutItem__inner {
    position: relative;
    z-index: 2;

    background: #f2f2f2;
    border: 1px solid #c0bec6;
    padding: 20px;
    border-radius: 12px;
    @include sm {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}
.checkoutList {
    margin-top: 24px;
}
.checkoutList__item {
    position: relative;
    overflow: hidden;
    z-index: 10;
    margin-top: 24px;
    border-radius: 12px;
    background: #f2f2f2;
    border: 1px solid #c0bec6;

    .productItem__price--minicart {
        margin: 0;
        background: transparent;
    }
}
.checkoutItem__heading {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    input[type="checkbox"],
    input[type="radio"] {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
    }
}

.checkoutItem__info {
    padding-left: 18px;

    max-width: 420px;
    @include sm {
        padding-right: 32px;
    }
}
.checkoutItem__title {
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
}
.checkoutItem__desc {
    font-size: 14px;
}

.checkoutItem__price {
    font-size: 13px;
    @include sm {
        text-align: right;
    }
    .price {
        font-size: 24px;
        font-weight: bold;
        color: #717171;
        line-height: 1;
        .monetarySign,
        .productItem__period {
            font-size: 14px;
            font-weight: normal;
        }
    }
}

.checkoutItem .right {
    .amount {
        width: 100%;
        margin-top: 16px;
        text-align: center;
    }
    .amount__input {
        width: 100%;
    }

    @include sm {
        min-width: 105px;
    }

    @include xs {
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
        align-items: center;
        .amount {
            max-width: 100px;
            margin-top: 0;
        }
        .price {
            font-size: 14px;
            font-weight: 700;
            .monetarySign {
                font-weight: 700;
            }
        }
        .checkoutItem__price:first-child:last-child {
            flex-grow: 1;
        }
    }
}

.productItem__price--checkout {
}
.checkoutItem__table {
    margin-top: 12px;
    border-spacing: 0 11px;
    input[type="checkbox"],
    input[type="radio"] {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
    }
    td,
    th {
        padding: 0 4px;
        max-width: 160px;
        text-align: center;
    }
    tr th {
        font-size: 12px;
        font-weight: 700;
        white-space: nowrap;
        span {
            font-weight: normal;
        }
    }
    tr td {
        font-size: 13px;
        font-weight: 500;
    }
}

.checkoutItem__table__item {
    position: relative;
    background: #fff;
    margin-top: 12px;
    td:first-child {
        position: relative;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        padding: 12px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 20;
            display: block;
            width: 4px;
            height: 100%;
            background: #9790ad;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
    }
    td:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 12px;
        text-align: right;
        white-space: nowrap;
    }

    &.checkoutItem__table__item--club td:first-child::before {
        background: $red1;
    }
    label {
        cursor: pointer;
    }
}

@include xs {
    .hide-mobile {
        display: none;
    }
}

.checkoutPage__title {
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-weight: bold;

    @include xs {
        margin-bottom: 1em;
    }

    @include sm {
        justify-content: flex-start;
        font-weight: normal;
    }
    .icon {
        width: 24px;
        margin-right: 8px;
        &.icon-card--navy {
            width: 31px;
        }
    }
    @include sm {
        text-align: left;
        font-size: 32px;
    }
}
.checkoutItem__associacao {
    @include xs {
        margin-top: 8px;
        display: flex;
        flex-flow: column-reverse wrap;
    }
}
.checkoutItem__associacao__mobile-item--mensalidade {
    @include sm {
        .checkoutItem__associacao__label {
            display: none;
        }
    }
}

.checkoutItem__associacao__mobile-item {
    display: block;
    @include xs {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 4px;
        position: relative;

        * {
            position: relative;
            z-index: 2;
            font-weight: 500 !important;
            color: $navy;
            font-size: 12px !important;
            background: #f2f2f2;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: 3px;
            left: 0;
            width: 100%;
            height: 2px;
            border-top: 1px dotted #000;
        }
    }
}

.checkoutItem__associacao__l1 {
    @include xs {
        display: none;
    }
}

.checkoutSuggestion {
    margin-top: 24px;

    .checkoutItem__inner {
        background: #fff;
        .amount__input {
            border: 1px solid #e6e4e9;
        }
        .checkoutItem__table__item {
            td {
                border-top: 1px solid #e6e4e9;
                border-bottom: 1px solid #e6e4e9;
                &:first-child {
                    border-left: 1px solid #e6e4e9;
                }
                &:last-child {
                    border-right: 1px solid #e6e4e9;
                }
            }
        }
    }
}

.checkoutSuggestion__list {
    display: none;
}
.checkoutSuggestion.is-active {
    .checkoutSuggestion__list {
        display: block;
    }
    .checkoutSuggestion__toggler {
        .icon-chevron--up {
            transform: rotate(180deg);
        }
    }
}

.checkoutSuggestion__toggler {
    align-items: center;
    cursor: pointer;

    .icon-chevron--up {
        position: relative;
        top: 4px;
        transform: rotate(0deg);
        margin-left: 12px;
        width: 24px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.9 12.9' %3E%3Cpolygon fill='%23fb6261' points='11.5,12.9 0,1.4 1.4,0 11.5,10.1 21.5,0 22.9,1.4 '/%3E%3C/svg%3E");
    }
}

.summary {
    li {
        display: block;
    }
    > li:not(:first-child),
    .summary__products > li:not(:first-child) {
        border-top: 1px solid #c1bfc6;
        padding-top: 4px;
        margin-top: 8px;
    }
    .summary__products > li:last-child {
        border-bottom: 1px solid #c1bfc6;
        padding-bottom: 8px;
    }
    .summary__products {
        margin-top: 12px;
    }
}
.summary__title {
    &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 4px;
        height: 4px;
        background: #000;
        border-radius: 50%;
        margin-right: 4px;
    }
}
.summary__data {
    width: 100%;
    li {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        margin-top: 2px;
    }
}

.minicart__cards {
    display: block;
    margin: 30px auto;
}

.checkoutPage__form {
    text-align: center;
    max-width: 535px;
    .form__title {
        padding-top: 0;
        margin-top: 1em;

        @include sm {
            text-align: left;
            font-size: 24px;
            margin-bottom: 0;
        }
    }
    .form__field {
        max-width: 535px;
        text-align: left;
        .btn {
            margin-top: 24px;
            width: 260px;
        }
    }
    label {
        text-align: left;
        margin: 0 0 4px 0;
    }
}

.summary__data--total {
    border-top: 0 !important;
    padding-top: 0;
}

.summary__installments {
    .summary__data li {
        margin: 0;
    }
    .flex-justify {
        flex-flow: row nowrap;
        span:last-child {
            flex-shrink: 0;
        }
    }
}

.summary__installments__list {
    li {
        width: 100%;
        div {
            width: 100%;
        }
        padding: 4px 0;

        &:last-child {
            border-bottom: 0;
        }

        ul li {
            border-bottom: 1px solid #c1bfc6;
        }
    }

    ul li:last-child {
        padding-bottom: 0;
    }

    .accordion__toggler {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 4px;
        padding-right: 16px;
        border-bottom: 1px solid #c1bfc6;
        font-weight: 700;

        cursor: pointer;
        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            width: 13px;
            height: 20px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.9 12.9' %3E%3Cpolygon fill='%23322E2D' points='11.5,12.9 0,1.4 1.4,0 11.5,10.1 21.5,0 22.9,1.4 '/%3E%3C/svg%3E");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.summary__installments__title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 18px;
    .icon {
        margin-right: 4px;
    }
}

.accordion__inner {
    display: none;
}
.accordion.is-open {
    .accordion__toggler::after {
        transform: rotate(180deg);
    }
    .accordion__inner {
        display: block;
    }
}

.checkoutFinal {
    max-width: 490px;
    min-height: calc(100vh - 85px);
    margin: auto;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    > * {
        margin-top: 36px;
    }
    p {
        font-size: 14px;
        color: #777288;
    }
    .btn {
        width: 100%;
    }
}

.checkoutFinal__title {
    font-weight: 700;
    color: #7b7b7b;
    font-size: 16px;
}
