@font-face {
    font-family: "Brandon Text";
    src: url("fonts/BrandonText-Thin.woff2") format("woff2"),
        url("fonts/BrandonText-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Brandon Text";
    src: url("fonts/BrandonText-Light.woff2") format("woff2"),
        url("fonts/BrandonText-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Brandon Text";
    src: url("fonts/BrandonText-Regular.woff2") format("woff2"),
        url("fonts/BrandonText-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Brandon Text";
    src: url("fonts/BrandonText-RegularItalic.woff2") format("woff2"),
        url("fonts/BrandonText-RegularItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Brandon Text";
    src: url("fonts/BrandonText-Medium.woff2") format("woff2"),
        url("fonts/BrandonText-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Brandon Text";
    src: url("fonts/BrandonText-Bold.woff2") format("woff2"),
        url("fonts/BrandonText-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Brandon Text";
    src: url("fonts/BrandonText-Black.woff2") format("woff2"),
        url("fonts/BrandonText-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

$wrapperWidth: 1060px;

body {
    font-family: "Brandon Text", sans-serif;
    color: $navy;
    font-size: 14px;
    @include md {
        font-size: 16px;
    }
}

.wrapper {
    width: calc(100% - 60px);

    max-width: $wrapperWidth;
    margin: auto;
}

.bold {
    font-weight: 700;
}

$easeIn: cubic-bezier(0.32, 0, 0.67, 0);
$easeOut: cubic-bezier(0.33, 1, 0.68, 1);

.learnMoreLink {
    color: $blueLink;
    margin-left: 8px;
    font-size: 14px;
}

.color-red {
    color: $red1;
}
.color-blue {
    color: $blueLink !important;
}

.uppercase {
    text-transform: uppercase;
}

.kerning-1 {
    letter-spacing: 0.1em;
}

.align-center {
    text-align: center;
}
.align-left {
    text-align: left !important;
}
.align-right {
    text-align: right;
}

.light {
    font-weight: 300;
}
.medium {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}

.flex-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.flex-justify {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    &.flex-baseline {
        align-items: flex-end;
    }
}

.iframe-wrapper {
    background: $gray;
}

.text {
    margin-top: 8px;
    font-size: 1em;
    line-height: 1.4;
    p {
        margin-top: 0.8em;
    }
}

.title {
    margin: 4px auto 8px auto;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    line-height: 1;

    @include sm {
        margin-top: 0;
        font-size: 48px;
    }
}

.title--secondary {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: 500;
    text-align: center;
    color: $grayText;
    @include sm {
        font-size: 14px;
    }
}

.subtitle {
    margin-top: 4px;
    font-weight: 300;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    @include sm {
        font-size: 24px;
        margin-top: 12px;
    }
}

.title--small {
    font-weight: 300;
    font-size: 1em;
}

.slick-slider {
    @include md {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.slick-arrow {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 0;
    &.slick-prev {
        left: -24px;
        @include sm {
            left: 10px;
        }
    }
    &.slick-next {
        right: -24px;
        @include sm {
            right: 10px;
        }
        &::before {
            transform: rotate(180deg);
        }
    }
    &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.1 33.7' %3E%3Cpolygon fill='%232D2748' points='16.3,33.7 0,16.8 16.3,0 17.1,0.7 1.4,16.8 17.1,33 '/%3E%3C/svg%3E%0A");
        @include sm {
            width: 33px;
            height: 33px;
        }
    }

    &.slick-disabled {
        &::before {
            opacity: 0.3;
        }
    }

    /* @include md {
        &.slick-prev {
            left: -20px;
        }
        &.slick-next {
            right: -20px;
        }
    } */
}

.iframe-wrapper {
    background-size: cover;
    background-position: center;
    iframe {
        z-index: 5;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        display: block;
        width: 40px;
        height: 40px;
        background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Cdefs%3E%3C/defs%3E%3Ccircle id='Ellipse_548_1_' opacity='0.65' fill='%232D2747' cx='20' cy='20' r='20'/%3E%3Cpath id='Polygon_1_1_' fill='%23FFFFFF' d='M15.6,13.6l12.2,6.8l-12.5,7.2L15.6,13.6z'/%3E%3C/svg%3E%0A");
        transform: scale(1);
        opacity: 1;
        transition: all 0.2s;
    }
    &::after {
        background: #000;
        opacity: 0;
        transition: all 0.3s 0.1s;
    }
    &.is-playing {
        &::before {
            transform: scale(1.5);
            opacity: 0;
        }
        &::after {
            opacity: 1;
        }
    }
}
