.footer {
    position: relative;
    z-index: 150;
    padding: 44px 0 70px 0;
    background: #7b7b7b;
    color: #fff;
    text-align: center;
    @include sm {
        padding: 48px 0 90px 0;
    }
    .wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        @include md {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }
    .logo {
        flex-shrink: 0;
        img {
            height: 68px;
        }

        @include md {
            width: 150px;
            img {
                height: auto;
            }
        }
    }
    .social {
        flex-shrink: 0;
        flex-flow: row nowrap;
        text-align: center;
        justify-content: center;
        @include sm {
            text-align: left;

            color: #fff;
            li {
                margin-top: 0;
            }
        }
        @include md {
            align-items: flex-start;
            justify-content: flex-start;
        }

        .icon-facebook {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.9 19.9' %3E%3Cdefs%3E%3C/defs%3E%3Cpath id='Fill_1_1_' fill='%23FFF' d='M19.8,5.8c0-0.8-0.2-1.6-0.5-2.4c-0.5-1.3-1.6-2.4-2.9-2.9c-0.8-0.3-1.6-0.4-2.4-0.5 C13,0,12.6,0,9.9,0s-3,0-4.1,0.1C5,0.1,4.2,0.2,3.4,0.5C2.8,0.8,2.2,1.2,1.7,1.7C1.2,2.2,0.8,2.8,0.5,3.4C0.2,4.2,0.1,5,0.1,5.8 C0,6.9,0,7.2,0,9.9s0,3,0.1,4.1c0,0.8,0.2,1.6,0.5,2.4c0.5,1.3,1.6,2.4,2.9,2.9c0.8,0.3,1.6,0.4,2.4,0.5c1.1,0,1.4,0.1,4.1,0.1h0 v-6.8H7.5V10H10V7.5c0-2.1,1.7-3.7,3.7-3.7c0,0,0,0,0,0h2.5v3.1H15c-0.7,0-1.2-0.1-1.2,0.6V10h3.1l-1.2,3.1h-1.9v6.7l0.3,0 c0.8,0,1.6-0.2,2.4-0.5c1.3-0.5,2.4-1.6,2.9-2.9c0.3-0.8,0.4-1.6,0.5-2.4c0-1.1,0.1-1.4,0.1-4.1S19.9,6.9,19.8,5.8'/%3E%3C/svg%3E%0A");
        }
        .icon-instagram {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23FFF'  d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z'/%3E%3C/svg%3E");
        }
    }
}

.footer__unidades {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 40px auto;
    address {
        font-style: normal;
        text-align: left;
    }
    li {
        display: block;
        font-size: 14px;
        margin-left: 1em;
    }

    @include md {
        margin: 0 auto;
        padding: 0 60px;
    }
    @include xs {
        display: none;
    }
}
.footer__unidades__title {
    font-weight: 900;
}
.footer__social {
    .social .icon {
        width: 40px;
    }
}
.footer__social__label {
    font-size: 16px;
    margin-bottom: 8px;
    @include md {
        display: none;
    }
}

.footer__email {
    text-align: center;
    margin: 24px auto;
    font-size: 22px;
    font-weight: 700;
    @include sm {
        display: none;
    }
}
