.form {
}
.form__title {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 12px;
}
.form__field {
    position: relative;
    color: #322e2d;
    padding-top: 30px;
    input,
    .form__field__select,
    textarea {
        width: 100%;
        padding: 10px 12px 10px 16px;
        background-color: #f5f5f5;
        border: 1px solid #f5f5f5;
        border-radius: 20px;
        border: 0;
        .filled & {
        }
    }
    .form__field__select {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.9 12.9' %3E%3Cpolygon fill='%23322E2D' points='11.5,12.9 0,1.4 1.4,0 11.5,10.1 21.5,0 22.9,1.4 '/%3E%3C/svg%3E");
        background-position: 95% 50%;
        background-size: auto 8px;
        background-repeat: no-repeat;

        select {
            display: block;
            width: 95%;
            margin: auto;
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            padding: 0;
            border: 0;
            border-radius: 0;
            cursor: pointer;
        }
    }
    input[type="checkbox"] {
        width: auto;
    }
    &.filled {
        input,
        select,
        textarea {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.1 10' %3E%3Cpolygon fill='%2325D366' points='5,10 0,4.9 1.1,3.8 5,7.9 13.1,0 14.1,1.1 '/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: 13px auto;
            background-position: calc(100% - 16px) 50%;
        }
    }
    label {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 8px;
        font-size: 12px;
        color: #322e2d;
        display: block;
        padding-left: 16px;
        padding-bottom: 4px;

        @include sm {
            opacity: 0;
            transform: translateY(10px);
            transition: all 0.4s ease-out;
        }
    }

    *:focus {
        border-color: #d1d1d1;
        outline: 0;
        + label {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    &.filled {
        label {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    @include sm {
        input,
        select,
        textarea {
            padding-left: 20px;
        }
        label {
            padding-left: 20px;
        }
    }
}

.amount__input {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    width: 120px;
    margin-top: 4px;
    background: #fff;
    border-radius: 18px;
    input {
        text-align: center;
        border: 0;
        border-radius: 0;
        -webkit-appearance: none;
        appearance: none;
        width: 2em;
        font-size: 18px;
    }
}
.amount__null {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #1490c9;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    border-radius: 18px;
    visibility: hidden;
    &:hover {
        background: $red1;
        color: #fff;
    }
}
.is-null .amount__null {
    visibility: visible;
}
.amount__input__minus,
.amount__input__plus {
    width: 30px;
    font-size: 18px;
}

.amount__title {
    font-size: 11px;
}

.form__termCheck {
    .learnMoreLink {
        font-size: 1em;
        margin-left: 0;
    }
    &.form__field label {
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        visibility: visible;
        opacity: 1;
        padding: 0;
        transform: none;
    }
    input {
        margin-right: 8px;
    }
}

.form__field--2cols {
    @include sm {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        .form__field {
            width: calc(50% - 16px);
        }
    }
}
