.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    width: 100%;
    padding: 12px 0;
    background: #fff;
    border-bottom: 1px solid #d9d9d9;

    .wrapper {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .icon {
        width: 24px;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        display: block;
        @include md {
            position: relative;
        }
    }

    .call-menu {
        @include md {
            position: absolute;
            display: none;
        }
    }

    @include md {
        background: #f8f8f8;
        .logo {
            height: 60px;
        }
        .menu__nav {
            margin-left: 45px;
        }
        .social {
            margin-left: 18px;
            li {
                margin: 0 0 0 20px;
            }
            .icon {
                width: 20px;
            }
        }
    }

    @include lg {
        .social {
            margin-left: 48px;
        }
    }
}

.header__last {
    margin-right: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header__last {
    > * {
        margin-left: 15px;
        @include sm {
            margin-left: 30px;
        }
        &:first-child {
            margin-left: 0;
        }
    }
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background: #000;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s 0.2s $easeIn;

    .inner {
        width: 70%;
        max-width: 300px;
        height: 100%;
        padding: 24px 48px 32px 32px;
        transform: translateX(-100%);
        transition: transform 0.3s $easeIn;
        @media (min-width: 375px) {
            padding: 24px 72px 32px 32px;
        }
        background: #fff;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        overflow-x: hidden;
        overflow-y: scroll;
        @include md {
            overflow-x: visible;
            overflow-y: visible;
        }
        .social {
            justify-content: flex-end;
            flex-flow: row nowrap;
            width: 100%;
            position: relative;
            left: 24px;
            margin-top: 40px;
            @media (min-width: 375px) {
                left: 48px;
            }
            li {
                margin: 0 0 0 24px;
            }
        }
    }

    .is-menuOpen & {
        visibility: visible;
        opacity: 1;
        transition: all 0.3s $easeOut;

        .inner {
            transform: translateX(0%);
            transition: transform 0.3s 0.3s $easeOut;
        }
    }

    @include md {
        position: relative;
        display: block;
        width: auto;
        height: auto;
        background: transparent;
        visibility: visible;
        opacity: 1;
        .menu__logo {
            display: none;
        }
        .inner {
            padding: 0;
            width: auto;
            max-width: none;
            height: auto;
            background: transparent;
            transform: none;
        }
    }
}

.menu__nav {
    position: relative;
    color: $navy;
    margin-top: 24px;
    margin-bottom: auto;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -32px;
        height: 100%;
        width: 5px;
        height: 100%;
        background: $red3;
    }
    li {
        display: block;
        padding: 14px 0;
        border-top: 1px solid;
        &:first-child {
            padding-top: 0;
            border-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
        @include md {
            display: inline-block;
            vertical-align: middle;
            border-top: 0;
            padding: 0 10px;
            border-left: 1px solid #a39fb0;
            line-height: 1;
            letter-spacing: 0.1em;
            font-size: 12px;
            &:first-child {
                border-left: 0;
                padding-left: 0;
            }
        }
    }
    .menu__nav__btn {
        border-top: 0;
        text-transform: none;
        padding-top: 12px;
        .btn {
            background: $red3;
            width: 100%;
        }
        @include md {
            display: none;
        }
    }

    @include md {
        margin-top: 0;
        &::before {
            display: none;
        }
    }
}

@media (max-width: 1023px) {
    .header-ui--desktop {
        display: none !important;
    }
}

@include md {
    .header-ui--mobile {
        display: none !important;
    }
}

.social {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    li {
        display: block;
        margin: auto 8px;
    }
    .icon {
        width: 24px;
        display: block;
    }
}
.logged-in {
    text-align: right;
    font-size: 12px;
}
.logged-in__title {
    font-size: 18px;
    font-weight: bold;
}
