.homeCarousel {
    .wrapper {
        position: relative;
        z-index: 3;
    }

    .slick-dots {
        position: absolute;
        bottom: -36px;
        left: 0;
        width: 100%;
        height: auto;
        @include sm {
            bottom: -47px;
        }
        button {
            background-color: #f2f2f2;
            @include sm {
                background-color: #fff;
            }
        }
        .slick-active {
            button {
                background-color: $grayText;
            }
        }
    }
}

.homeCarousel + .homeSection {
    padding-top: 48px;
    @include sm {
        padding-top: 90px;
    }
}

.homeCarousel__slide {
    position: relative;
    min-height: 258px;
    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        @supports (object-fit: cover) {
            width: 100%;
            object-fit: cover;
        }
    }
}

#homeCarousel--mobile {
    @include sm {
        display: none;
    }
    .homeCarousel__slide__text {
        width: 55%;
        min-width: 170px;
        margin-right: 0;
        margin-left: auto;
        padding: 20px 0 11px 0;
        font-size: 14px;
        color: #2d2648;
        > * {
            margin: 8px 0;
        }
        .btn {
            font-size: 1em;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100%;
        }
        .learnMoreLink {
            display: block;
            padding-left: 36px;
        }
    }

    .homeCarousel__slide__title--1 {
        font-size: 10px;
        font-weight: 300;
        color: $red1;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-weight: 500;
    }
    .homeCarousel__slide__title--2 {
        font-weight: normal;
        font-size: 22px;
        line-height: 1;
    }
    .homeCarousel__slide__title--3 {
        font-size: 16px;
        font-weight: 300;
        color: #777288;
        strong {
            color: #2d2648;
        }
    }
    .homeCarousel__slide__title--4 {
        font-size: 12px;
        .bold {
            color: $red1;
        }
    }
}

#homeCarousel--desktop {
    @media (max-width: 767px) {
        display: none;
    }
    .homeCarousel__slide {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
    }
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
    }
    .homeCarousel__slide {
        height: 410px;
    }
    .homeCarousel__slide__text {
        width: 50%;
        padding: 20px 0 11px 0;
        font-size: 14px;
        color: #2d2648;
        > * {
            margin: 16px 0;
        }
        .btn {
            font-size: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 257px;
        }
        .learnMoreLink {
            display: block;
            padding-left: 36px;
        }
    }

    .homeCarousel__slide__title--1 {
        font-size: 32px;
        font-weight: 700;
    }
    .homeCarousel__slide__title--2 {
        font-weight: 300;
        color: $red1;
        font-size: 32px;
        line-height: 1.1;
    }
    .homeCarousel__slide__title--3 {
        font-size: 16px;
        font-weight: 300;
        color: #777288;
        line-height: 1.2;
        strong {
            color: #2d2648;
        }
    }
    .homeCarousel__slide__title--4 {
        font-size: 12px;
        .bold {
            color: $red1;
        }
    }
}

.slick-dots {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    @include sm {
        padding: 30px 0 0;
    }
    li {
        display: block;
        &.slick-active {
            button {
                background-color: #777288;
            }
        }
    }
    button {
        display: block;
        width: 8px;
        height: 8px;
        margin: 0 4px;
        border-radius: 50%;
        background-color: #fff;
        font-size: 0;
        transition: background-color 0.2s;
        @include sm {
            width: 16px;
            height: 16px;
            margin: 0 9px;
        }
    }
}
