.homeSection {
    background: #f2f2f2;
    padding: 24px 0;
    @include sm {
        padding: 45px 0;
    }
}
.conhece-list {
    margin: 21px auto 30px auto;
    text-align: center;
    @include sm {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-left: -16px;
        margin-right: -16px;
        align-items: center;
    }
    li {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 16px;
        text-align: center;
        @include sm {
            width: 32%;
            width: calc(33% - 16px);
            margin-top: 0;
            margin-left: 16px;
            text-align: left;
        }
        @include md {
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }
}
.conhece-list__text {
    .text {
        color: #777288;
        margin-top: 4px;
        line-height: 1.2;
        p:first-child {
            margin-top: 0;
        }
    }
}

.conhece-bottom {
    margin-top: 24px;
    .btn {
        margin-right: 16px;
        @include sm {
            min-width: 228px;
        }
    }
}

.conhece-list__title {
    font-weight: normal;
    font-size: 20px;
    @include sm {
        font-size: 24px;
    }
}

.conhece-list__img {
    position: relative;
    margin-right: 19px;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.homeSection--duvidas {
    background: #fff;
    .title--secondary {
        @include sm {
            color: $red1;
        }
    }
    @include sm {
        padding: 50px 0 60px 0;
    }
}

.homeSection--duvidas__content {
    @include sm {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-top: 36px;
    }
    > div {
        margin-top: 14px;
        &.left {
            .left {
                position: relative;
            }
        }
        &.right {
            margin-top: 4px;
            .text {
                text-align: center;
                font-size: 12px;
                @include sm {
                    font-size: 14px;
                    text-align: left;
                }
            }
            @include sm {
                margin-left: 34px;
            }
            .btn {
                margin-top: 4px;
                width: 175px;
                @include sm {
                    width: auto;
                }
            }

            @include xs {
                position: relative;
                z-index: 3;
                .selo {
                    margin-top: -36px;
                }
            }
        }
        @include sm {
            width: 50%;
            margin-top: 0;
            .productItem__price {
                max-width: 315px;
            }
        }
    }

    .productItem__price {
        padding-right: 8px;
        @include sm {
            padding: 16px;
        }
        .productItem__priceClub__heading {
            margin-bottom: 0;
        }
    }

    .selo {
        @include sm {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.homeSection--duvidas__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;

    .selo {
        width: 70px;
        flex-shrink: 0;
    }
    > div {
        flex-grow: 1;
        margin-left: 11px;
        @include sm {
            margin-left: 0;
        }
    }
    ul {
        font-weight: bold;
        line-height: 1;
        font-size: 16px;
        @include sm {
            font-size: 32px;
        }
        li {
            display: inline-block;
            &:not(:first-child)::before {
                content: "•";
                color: $red1;
                font-size: 1.4em;
            }
        }
    }
    .sub {
        font-size: 16px;
    }
}

.productItem__priceClub__title {
    color: inherit;
    font-weight: 300;
}
.homeSection--duvidas__header__title {
    font-size: 23px;
    line-height: 1;
    text-align: left;
    margin: 0;
    @include md {
        font-size: 36px;
    }
    span {
        font-size: 18px;
    }
    sub {
        font-weight: normal;
        font-size: 16px;
    }
}

.homeSection--maisVendidos {
    background: #f2f2f2;
}

.homeSection--duvidas__vantagens {
    margin-top: 16px;
    .title--small {
        color: $green;
    }
    @include md {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        text-align: left;

        > div {
            &.left {
                flex: 1 0 255px;
            }
            &.right {
                flex: 0 0 auto;
                margin-left: 34px;
                text-align: center;
            }
        }
    }
}

.productItem--post__category {
}

.homeSection--local {
    background: #f8f8f8;
}
