.icon {
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    height: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
    }
}

.icon-search {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-search' viewBox='0 0 33.1 33'%3E%3Cpath id='Path_287_1_' fill='%23fff' class='st0' d='M12.6,25.2C5.6,25.2,0,19.5,0,12.6S5.6,0,12.6,0s12.6,5.6,12.6,12.6l0,0 C25.2,19.5,19.5,25.2,12.6,25.2z M12.6,1.5c-6.2,0-11.1,5-11.1,11.1s5,11.1,11.1,11.1c6.2,0,11.1-5,11.1-11.1 C23.7,6.4,18.7,1.5,12.6,1.5L12.6,1.5z'/%3E%3Cpath fill='%23fff' id='Path_288_1_' class='st0' d='M32.4,33c-0.2,0-0.4-0.1-0.5-0.2L20.7,21.6c-0.3-0.3-0.3-0.7,0-1s0.7-0.3,1,0l0,0l11.2,11.2 c0.3,0.3,0.3,0.7,0,1C32.8,32.9,32.6,33,32.4,33L32.4,33z'/%3E%3C/svg%3E");
}

.icon-cart {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30.1 27.8' xml:space='preserve'%3E%3Cdefs%3E%3C/defs%3E%3Cpath id='Fill_1_1_' fill='%232D2748' d='M10,27.8c-2.1,0-3.8-1.7-3.8-3.7c0-2.1,1.7-3.8,3.8-3.8c2.1,0,3.8,1.7,3.8,3.8 C13.8,26.2,12.1,27.9,10,27.8z M10,22.2c-1,0-1.9,0.8-1.9,1.9c0,0,0,0,0,0c0.1,1,1,1.8,2,1.8c1-0.1,1.7-0.8,1.8-1.8 C11.9,23,11.1,22.2,10,22.2L10,22.2z'/%3E%3Cpath id='Fill_4_1_' fill='%232D2748' d='M23.7,19.4H10.1c-1.7,0-3.2-1.2-3.5-2.9L4.3,4C4.1,3,3.4,2.3,2.5,2.2L0.8,1.9 c-0.3,0-0.5-0.2-0.6-0.4C0,1.3,0,1,0,0.8C0.1,0.3,0.5,0,1,0C1,0,1.1,0,1.1,0l1.7,0.3c1.7,0.3,3.1,1.6,3.4,3.3l0.4,2.3h22.5 c0.3,0,0.6,0.1,0.8,0.4l0,0c0.2,0.2,0.2,0.5,0.1,0.8L27,17C26.6,18.4,25.2,19.4,23.7,19.4z M7,7.8l1.5,8.4c0.1,0.8,0.8,1.3,1.6,1.3 h13.6c0.7,0,1.3-0.5,1.5-1.1l2.7-8.6H7z'/%3E%3Cpath id='Fill_7_1_' fill='%232D2748' d='M23.6,27.8c-2.1,0-3.8-1.7-3.8-3.7c0-2.1,1.7-3.8,3.8-3.8c2.1,0,3.8,1.7,3.8,3.8 C27.4,26.2,25.7,27.9,23.6,27.8z M23.6,22.2c-1,0-1.9,0.8-1.9,1.9c0,0,0,0,0,0c0.1,1,1,1.8,2,1.8c1-0.1,1.7-0.8,1.8-1.8 C25.4,23,24.6,22.2,23.6,22.2L23.6,22.2z'/%3E%3C/svg%3E%0A");
}

.icon-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 16'%3E%3Cdefs%3E%3C/defs%3E%3Cpath id='Rectangle_155_1_' fill='%237B7B7B' d='M1,0h20c0.6,0,1,0.4,1,1l0,0c0,0.6-0.4,1-1,1H1C0.4,2,0,1.6,0,1l0,0C0,0.4,0.4,0,1,0z '/%3E%3Cpath id='Rectangle_156_1_' fill='%237B7B7B' d='M1,7h20c0.6,0,1,0.4,1,1l0,0c0,0.6-0.4,1-1,1H1C0.4,9,0,8.6,0,8l0,0C0,7.4,0.4,7,1,7z '/%3E%3Cpath id='Rectangle_157_1_' fill='%237B7B7B' d='M1,14h20c0.6,0,1,0.4,1,1l0,0c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1l0,0 C0,14.4,0.4,14,1,14z'/%3E%3C/svg%3E%0A");
}

.icon-chevron--up {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.9 12.9' %3E%3Cpolygon fill='%23FFFFFF' points='11.5,12.9 0,1.4 1.4,0 11.5,10.1 21.5,0 22.9,1.4 '/%3E%3C/svg%3E");
}

.icon-user {
    background-image: url("data:image/svg+xml, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 19' %3E%3Cdefs%3E%3C/defs%3E%3Cpath id='Union_1_1_' fill='%23AAAAAA' d='M13,19H0v-5.5c0-2.2,1.8-4,4-4h5c2.2,0,4,1.8,4,4V19L13,19z M2,4.3C2,1.9,4,0,6.4,0 c2.4,0,4.3,1.9,4.4,4.2c0,2.4-2,4.3-4.4,4.2C4,8.5,2,6.6,2,4.3z'/%3E%3C/svg%3E%0A");
}
.icon-user--navy {
    background-image: url("data:image/svg+xml, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 19' %3E%3Cdefs%3E%3C/defs%3E%3Cpath id='Union_1_1_' fill='%232D2747' d='M13,19H0v-5.5c0-2.2,1.8-4,4-4h5c2.2,0,4,1.8,4,4V19L13,19z M2,4.3C2,1.9,4,0,6.4,0 c2.4,0,4.3,1.9,4.4,4.2c0,2.4-2,4.3-4.4,4.2C4,8.5,2,6.6,2,4.3z'/%3E%3C/svg%3E%0A");
}

.icon-close {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-close' viewBox='0 0 31.4 31.3'%3E%3Cpath fill='%23fff' d='M31.1,30.2L16.7,15.7L31.1,1.2c0.3-0.3,0.3-0.7,0-1c-0.3-0.3-0.7-0.3-1,0L15.7,14.7L1.2,0.2 c-0.3-0.3-0.7-0.3-1,0c-0.3,0.3-0.3,0.7,0,1l14.5,14.5L0.2,30.2C0.1,30.3,0,30.5,0,30.6c0,0.4,0.3,0.7,0.7,0.7 c0.2,0,0.4-0.1,0.5-0.2l14.5-14.5l14.5,14.5c0.1,0.1,0.3,0.2,0.5,0.2v0c0.2,0,0.4-0.1,0.5-0.2C31.4,30.9,31.4,30.4,31.1,30.2z'/%3E%3C/svg%3E");
}

.icon-facebook {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.9 19.9' %3E%3Cdefs%3E%3C/defs%3E%3Cpath id='Fill_1_1_' fill='%232D2748' d='M19.8,5.8c0-0.8-0.2-1.6-0.5-2.4c-0.5-1.3-1.6-2.4-2.9-2.9c-0.8-0.3-1.6-0.4-2.4-0.5 C13,0,12.6,0,9.9,0s-3,0-4.1,0.1C5,0.1,4.2,0.2,3.4,0.5C2.8,0.8,2.2,1.2,1.7,1.7C1.2,2.2,0.8,2.8,0.5,3.4C0.2,4.2,0.1,5,0.1,5.8 C0,6.9,0,7.2,0,9.9s0,3,0.1,4.1c0,0.8,0.2,1.6,0.5,2.4c0.5,1.3,1.6,2.4,2.9,2.9c0.8,0.3,1.6,0.4,2.4,0.5c1.1,0,1.4,0.1,4.1,0.1h0 v-6.8H7.5V10H10V7.5c0-2.1,1.7-3.7,3.7-3.7c0,0,0,0,0,0h2.5v3.1H15c-0.7,0-1.2-0.1-1.2,0.6V10h3.1l-1.2,3.1h-1.9v6.7l0.3,0 c0.8,0,1.6-0.2,2.4-0.5c1.3-0.5,2.4-1.6,2.9-2.9c0.3-0.8,0.4-1.6,0.5-2.4c0-1.1,0.1-1.4,0.1-4.1S19.9,6.9,19.8,5.8'/%3E%3C/svg%3E%0A");
    background-size: cover;
}

.icon-instagram {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%232D2748'  d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z'/%3E%3C/svg%3E");
    background-size: cover;
}

.icon-whatsapp {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%232D2748'  d='M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z'/%3E%3C/svg%3E");
    background-size: cover;
}

.icon-card--navy {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31 21' %3E%3Cpath id='Rectangle_1582_1_' fill='%232D2747' d='M1,0h29c0.6,0,1,0.4,1,1v19c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1V1C0,0.4,0.4,0,1,0z' /%3E%3Crect id='Rectangle_1583_1_' y='5' fill='%23FFFFFF' width='31' height='4'/%3E%3C/svg%3E");
    background-size: contain;
}
