.homeSection--local__container {
    position: relative;
    margin-top: 26px;
    display: flex;
    flex-flow: column nowrap;

    @include sm {
        margin-top: 24px;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-bottom: 84px;
    }
}

.homeSection--local__2 {
    @include sm {
        img {
            height: 260px;
        }
    }
}
@include xs {
    .homeSection--local__2 {
        order: 0;
    }
    .homeSection--local__1,
    .homeSection--local__3,
    .homeSection--local__4 {
        order: 1;
    }
    .homeSection--local__4 {
        margin-top: 48px;
    }
    .homeSection--local__3 {
        display: flex;
        flex-flow: column nowrap;
    }
    .homeSection--local__galeria {
        order: 1;
    }
}
@include sm {
    .homeSection--local__1,
    .homeSection--local__3 {
        max-width: 260px;
    }
    .homeSection--local__2 {
        flex-grow: 1;
        padding: 0 30px;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}
.homeSection--local__address {
    margin-top: 15px;
    line-height: 1.2;
    @include sm {
        margin-top: 18px;
        max-width: 230px;
    }
    p {
        font-size: 14px;
        @include sm {
            font-size: 16px;
        }
    }
}
.homeSection--local__address__title {
    font-weight: bold;
    font-size: 18px;
    color: $navy;
    line-height: 1;
    @include sm {
        font-size: 24px;
        font-weight: normal;
        color: $red1;
    }
}

.homeSection--local__btn {
    flex: 1 1 100%;
    margin-top: 26px;
    text-align: center;
    .btn {
        font-size: 14px;
        width: 200px;
        height: 32px;
        @include sm {
            width: 355px;
            height: 40px;
            font-size: 18px;
        }
    }
    @include sm {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

.homeSection--local__address__link {
    font-weight: 500;
    font-size: 14px;
    margin-top: 4px;
    padding-left: 21px;
    min-height: 21px;
    display: block;
    display: flex;
    align-items: flex-end;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='21.778' viewBox='0 0 14 21.778'%3E%3Cpath id='Fill_5' data-name='Fill 5' d='M7,0A7.142,7.142,0,0,0,0,7.26a7.483,7.483,0,0,0,.841,3.45L6.617,21.544a.431.431,0,0,0,.766,0l5.778-10.839A7.482,7.482,0,0,0,14,7.26,7.142,7.142,0,0,0,7,0' fill='%23ef6444'/%3E%3C/svg%3E%0A");
    background-size: auto 21px;
    background-repeat: no-repeat;
}

.homeSection--local__galeria {
    margin-top: 48px;
    @include sm {
        margin-top: 18px;
    }
}
.homeSection--local__galeria__thumbs {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: -6px;
    margin-right: -6px;
    margin-top: 8px;
    li {
        display: block;
        padding: 6px;
        width: 25%;
        cursor: pointer;
        @include md {
            width: 25%;
        }
        img {
            display: block;
        }
    }
}
.homeSection--local__galeria__title {
    font-weight: normal;
    font-size: 22px;
    padding-right: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22.527' height='18.773' viewBox='0 0 22.527 18.773'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Clip_4' data-name='Clip 4' d='M0,0H22.528V18.773H0Z' transform='translate(0 0.015)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_6' data-name='Group 6' transform='translate(0 -0.044)'%3E%3Cpath id='Fill_1' data-name='Fill 1' d='M2.816,0A2.816,2.816,0,1,1,0,2.816,2.816,2.816,0,0,1,2.816,0' transform='translate(8.448 7.545)' fill='%232d2748'/%3E%3Cg id='Group_5' data-name='Group 5' transform='translate(0 0.029)'%3E%3Cpath id='Clip_4-2' data-name='Clip 4' d='M0,0H22.528V18.773H0Z' transform='translate(0 0.015)' fill='none'/%3E%3Cg id='Group_5-2' data-name='Group 5' clip-path='url(%23clip-path)'%3E%3Cpath id='Fill_3' data-name='Fill 3' d='M20.651,18.773H1.877A1.88,1.88,0,0,1,0,16.9V4.694A1.88,1.88,0,0,1,1.877,2.816H4.855a1.4,1.4,0,0,0,1-.412L7.566.688A2.329,2.329,0,0,1,9.226,0H13.3a2.329,2.329,0,0,1,1.66.688L16.678,2.4a1.4,1.4,0,0,0,1,.412h2.976a1.88,1.88,0,0,1,1.877,1.877V16.9A1.88,1.88,0,0,1,20.651,18.773ZM11.264,4.694A5.632,5.632,0,1,0,16.9,10.326,5.639,5.639,0,0,0,11.264,4.694Zm7.509.939a.939.939,0,1,0,.939.939A.94.94,0,0,0,18.773,5.632Z' transform='translate(0 0.015)' fill='%232d2748'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 22px auto;
    background-position: center right;
}

@include xs {
    .homeSection--local__address {
        padding-left: 27px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='21.778' viewBox='0 0 14 21.778'%3E%3Cpath id='Fill_5' data-name='Fill 5' d='M7,0A7.142,7.142,0,0,0,0,7.26a7.483,7.483,0,0,0,.841,3.45L6.617,21.544a.431.431,0,0,0,.766,0l5.778-10.839A7.482,7.482,0,0,0,14,7.26,7.142,7.142,0,0,0,7,0' fill='%23ef6444'/%3E%3C/svg%3E%0A");
        background-size: auto 21px;
        background-position: 0 8px;
        background-repeat: no-repeat;
    }
    .homeSection--local__address__link {
        display: none;
    }
    .homeSection--local__2 {
    }
}

.modalGallery {
    &.modal-inner {
        padding: 24px 35px 0 35px;
        background: transparent;
        width: 100%;
        box-shadow: none;
        @include sm {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .slick-dots {
        button {
            background: #777288;
        }
        .slick-active button {
            background: #f2f2f2;
        }
    }
    .slick-arrow::before {
        background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.1 33.7' %3E%3Cpolygon fill='%23FFF' points='16.3,33.7 0,16.8 16.3,0 17.1,0.7 1.4,16.8 17.1,33 '/%3E%3C/svg%3E%0A");
    }
    .modal__close {
        right: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.4 23.4' %3E%3Cpath id='Line_1_' fill='none' stroke='%23FFF' stroke-linecap='square' stroke-miterlimit='10' d='M22.7,0.7l-22,22'/%3E%3Cpath id='Line_Copy_1_' fill='none' stroke='%23FFF' stroke-linecap='square' stroke-miterlimit='10' d='M0.7,0.7l22,22'/%3E%3C/svg%3E ");
    }

    @include sm {
        .slick-arrow.slick-next {
            right: 0;
        }
        .slick-arrow.slick-prev {
            left: 0;
        }
    }
}
