.minicart {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    min-height: 100vh;
    background: #f8f8f8;
    z-index: 160;

    transform: translateY(calc(100% - 70px));

    transition: all 0.3s $easeOut;

    @include sm {
        right: 0;
        width: 310px;
    }
    @include mq(1440) {
        width: 350px;
    }
    @include mq(1200) {
        right: calc((100% - #{$wrapperWidth}) / 2);
    }

    @include md {
        z-index: 101;
    }

    &.is-open {
        transform: translateY(0%);
        visibility: visible;
        transition: all 0.3s $easeIn;
        height: 100vh;
        z-index: 190;
    }

    .subtotal {
        text-align: right;
        .monetarySign {
            font-size: 0.7em;
            font-weight: normal;
        }
        .productItem__price__main {
            margin: 0;
        }
    }
}
.minicart__toggler {
    background: #7b7b7b;
    color: #fff;
    padding: 21px 24px;
    height: 70px;
    text-transform: uppercase;
    cursor: pointer;
    .icon-cart {
        width: 28px;
        margin-right: 12px;
        background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30.1 27.8' xml:space='preserve'%3E%3Cdefs%3E%3C/defs%3E%3Cpath id='Fill_1_1_' fill='%23FFF' d='M10,27.8c-2.1,0-3.8-1.7-3.8-3.7c0-2.1,1.7-3.8,3.8-3.8c2.1,0,3.8,1.7,3.8,3.8 C13.8,26.2,12.1,27.9,10,27.8z M10,22.2c-1,0-1.9,0.8-1.9,1.9c0,0,0,0,0,0c0.1,1,1,1.8,2,1.8c1-0.1,1.7-0.8,1.8-1.8 C11.9,23,11.1,22.2,10,22.2L10,22.2z'/%3E%3Cpath id='Fill_4_1_' fill='%23FFF' d='M23.7,19.4H10.1c-1.7,0-3.2-1.2-3.5-2.9L4.3,4C4.1,3,3.4,2.3,2.5,2.2L0.8,1.9 c-0.3,0-0.5-0.2-0.6-0.4C0,1.3,0,1,0,0.8C0.1,0.3,0.5,0,1,0C1,0,1.1,0,1.1,0l1.7,0.3c1.7,0.3,3.1,1.6,3.4,3.3l0.4,2.3h22.5 c0.3,0,0.6,0.1,0.8,0.4l0,0c0.2,0.2,0.2,0.5,0.1,0.8L27,17C26.6,18.4,25.2,19.4,23.7,19.4z M7,7.8l1.5,8.4c0.1,0.8,0.8,1.3,1.6,1.3 h13.6c0.7,0,1.3-0.5,1.5-1.1l2.7-8.6H7z'/%3E%3Cpath id='Fill_7_1_' fill='%23FFF' d='M23.6,27.8c-2.1,0-3.8-1.7-3.8-3.7c0-2.1,1.7-3.8,3.8-3.8c2.1,0,3.8,1.7,3.8,3.8 C27.4,26.2,25.7,27.9,23.6,27.8z M23.6,22.2c-1,0-1.9,0.8-1.9,1.9c0,0,0,0,0,0c0.1,1,1,1.8,2,1.8c1-0.1,1.7-0.8,1.8-1.8 C25.4,23,24.6,22.2,23.6,22.2L23.6,22.2z'/%3E%3C/svg%3E%0A");
    }
    .icon-chevron--up {
        margin-right: 0;
        margin-left: auto;
        width: 21px;
        .is-open & {
            transform: rotate(180deg);
        }
    }
}
.minicart__inner {
    padding: 30px 20px 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - 70px);
}
.minicart__title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
}
.productItem__price--minicart__inner {
    display: block;
    background: #fff;
    border-radius: 8px;
}
.productItem__price--minicart {
    margin-bottom: 12px;
    padding: 0;
    cursor: pointer;
    border-radius: 0;
    &.productItem__price--club {
        align-items: center;
    }
    .productItem__price__main {
        margin: auto 0;
        font-size: 16px;
    }
}

.productItem__price--minicart__heading {
    padding: 12px 12px 8px 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
}

.productItem__info--minicart__label {
    font-size: 14px;
    margin-right: auto;
    margin-left: 8px;
    padding-right: 16px;
}

.productItem__info--minicart__radio {
    input {
        width: 22px;
        height: 22px;
    }
}

.productItem__price--minicart__desc {
    padding: 8px 10px;
    font-size: 12px;
    text-align: center;
    width: 100%;
    li {
        text-align: left;
        position: relative;
        display: block;
        padding-left: 8px;
        margin-top: 4px;
        &::before {
            content: "";
            position: absolute;
            top: 4px;
            left: 0;
            display: inline-block;
            background: currentColor;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 0.1em;

            line-height: 1;
        }
    }
}

.minicart__buy {
    .btn {
        width: 100%;
        margin-top: 16px;
        font-size: 20px;
    }
}

.minicart__amount {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 24px auto;
}

.minicart--summary {
    .minicart__inner {
        height: auto;
    }
    @include md {
        top: 0;
        bottom: auto;
        position: relative;
        transform: translateY(0);
        .icon-chevron--up {
            display: none;
        }
        .minicart__inner {
            padding: 30px;
        }
    }
}
