.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(75, 75, 75, 0.9);
    z-index: 200;

    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    &.is-open {
        visibility: visible;
        opacity: 1;
    }

    ::-webkit-scrollbar {
        width: 8px;
        border-radius: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #fff;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $gray;
        border-radius: 8px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #fff;
    }
}

.modal-inner {
    position: relative;
    border-radius: 6px;
    width: 90%;
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 24px 25px 25px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 85vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.modal__close {
    position: absolute;
    top: 24px;
    right: 20px;
    z-index: 20;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.4 23.4' %3E%3Cpath id='Line_1_' fill='none' stroke='%23777288' stroke-linecap='square' stroke-miterlimit='10' d='M22.7,0.7l-22,22'/%3E%3Cpath id='Line_Copy_1_' fill='none' stroke='%23777288' stroke-linecap='square' stroke-miterlimit='10' d='M0.7,0.7l22,22'/%3E%3C/svg%3E ");
    background-size: 20px auto;
    background-position: center;
    background-repeat: no-repeat;
    @include xs {
        visibility: hidden;
    }
}
