.modalSignUp {
    &#modalSignUp-tela2 {
        .wrapper {
            max-width: 540px;
        }
    }

    .productItem {
        background: #f2f2f2;
        text-align: center;
        padding: 12px;
        max-width: 275px;
        margin: 16px auto 24px auto;
    }
    .productItem__title {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 20px;
        margin-top: 0;
        .separator {
            display: inline-block;
            margin-left: 0.25em;
            color: $grayText;
        }
        .smaller {
            font-size: 0.8em;
            display: inline-block;
            margin-left: 0.25em;
        }
    }
    .productItem__tag {
        margin-left: 0;
    }
    .productItem__img {
        margin-top: 4px;
    }
    .productItem__desc {
        padding: 0;
        text-align: center;
        font-weight: normal;
    }
    .productItem__heading {
        display: block;
        font-size: 12px;
        > * {
            display: inline;
            font-size: 1em;
        }
    }
    .productItem__savings {
        margin-top: 0;
    }
    .productItem__savings__title {
        font-weight: normal;
    }

    .form__submit {
        text-align: center;
        margin-top: 24px;
        width: 100%;
        @include sm {
            margin-top: 38px;
        }
        .btn {
            font-weight: 500;
            font-size: 14px;
            width: 175px;
        }
    }
}

.modalSignUp__header {
    text-align: center;

    > * {
        margin-top: 0;
        margin-bottom: 12px;
        @include sm {
            margin-bottom: 0;
        }
    }
    @include sm {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        .btn--login {
            width: 112px;
            background: transparent;
            border: 1px solid $red1;
            color: $navy;
            font-weight: 700;
        }
    }
}

.modalSignUp__header__title {
    font-size: 1em;
    text-align: center;
    margin: auto;
    margin-top: auto;
    @include sm {
        font-size: 20px;
    }
}

.modalSignUp__bottom {
    max-width: 275px;
    margin: auto;
    text-align: center;
    font-size: 14px;
    .btn {
        font-size: 1em;
        width: 175px;
    }
}
.modalSignUp-dismiss {
    margin-top: 12px;
}

.modal-step {
    display: none;
    &.is-current {
        display: block;
    }
}

.modalSignUp__register {
    padding: 4px 0 10px 0;
    .priceNotice {
        background: #f7f7f7;
        margin-top: 16px;
        padding: 8px 30px;
        text-align: center;
        border-radius: 10px;
        @include sm {
            margin-top: 30px;
            padding: 16px 30px;
            font-size: 20px;
        }
        @include md {
            font-size: 23px;
            margin-top: 48px;
        }
    }

    @include sm {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .left {
            width: 46%;
        }
        .right {
            width: 49%;
            padding-top: 32px;
        }
    }
}

.modalSignUp__list {
    font-weight: 700;
    @include sm {
        margin-top: 12px;
    }
    li {
        display: block;
        &::before {
            content: "";
            display: inline-block;
            background: $red1;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 0.1em;
            line-height: 1;
        }
        .modalSignUp__list--title {
            display: inline;
            color: $red1;

            @include sm {
                font-size: 1.1em;
            }
        }
        .modalSignUp__list--paragraph {
            display: inline;
            font-size: 1em;
            font-weight: normal;
            @include sm {
                font-size: 0.9em;
            }
        }
    }
}
.modalSignUp__list__mais {
    line-height: 1;
    @include sm {
        margin-top: 16px;
    }
}

@include xs {
    .modalSignUp {
        padding-right: 0;
        padding-left: 0;
        .modal-inner {
            padding-right: 0;
            padding-left: 0;
        }
        .wrapper {
            width: 100%;
        }
        .right {
            margin-top: 20px;
            padding: 0 25px;
        }
    }
    .modalSignUp__register__left__head {
        padding: 0 25px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        .selo {
            flex-shrink: 0;
            width: 60px;
            margin-right: 8px;
        }
    }
}

.modalSignUp__login {
    @include xs {
        padding-right: 25px;
        padding-left: 25px;
    }
    @include sm {
        padding-top: 80px;
        padding-bottom: 80px;
        .form__title {
            font-size: 22px;
        }
        .form__field {
            width: 300px;
            margin: auto;
        }
    }
}

#modalSignUp-tela1 {
    .wrapper {
        @include sm {
            max-width: 540px;
        }
    }
}
