.priceNotice {
}

.priceNotice__monetarySign {
    font-weight: 700;
}

.priceNotice__price {
    font-size: 1.3em;
    font-weight: 700;
}

.priceNotice__subtitle {
    display: block;
    font-size: 12px;
}
