$produtListGap: 36px;

.productList {
    display: flex;

    @include sm {
        margin-left: -$produtListGap;
        margin-right: -$produtListGap;
    }

    .productItem {
        width: 100%;

        @include sm {
            width: 33%;
            width: calc(33% - #{$produtListGap});
            margin-left: $produtListGap;
            /*  padding-left: $produtListGap/2;
            padding-right: $produtListGap/2; */
        }
    }

    .productItem__img::after {
        padding-bottom: 38.1%;
    }

    &.productList--slide {
        display: block;

        @include sm {
            margin-left: auto;
            margin-right: auto;
        }

        .productItem {
            margin: 24px 0 0 0;

            @include sm {
                margin: 24px 8px 0 8px;
            }
        }
    }
}

.productItem {
    margin-top: 16px;
    padding-bottom: 18px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    font-size: 12px;
}

.productItem__details,
.productItem__desc {
    margin-top: 8px;
    padding: 0 20px;
}

.productItem__desc {
    color: #777288;
}

.productItem__title {
    color: $navy;
    font-size: 18px;
    font-weight: 900;

    @include sm {
        font-size: 20px;
    }
}

.productItem__subtitle {
    color: $navy;
    font-size: 16px;
    font-weight: 500;

    @include sm {
        font-size: 18px;
    }
}

.productItem__excerpt {
    line-height: 1;
    margin: 4px auto;
}

.productItem__excerpt__highlight {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color: $grayText;
    margin-top: 4px;
}

.productItem__price {
    margin-top: 10px;
    border-radius: 8px;
    background: #f7f7f7;
    padding: 8px 40px 8px 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    &.productItem__price--nowrap {
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .productItem__installments {
        margin-top: auto;
    }

    .productItem__priceClub__heading,
    .productItem__tag {
        font-size: 12px;
    }

    .productItem__info__price {
        margin-top: 8px;

        @include sm {
            margin-top: 0;
        }
    }

    .productItem__price__main {
        flex-shrink: 0;
        margin-top: auto;
    }

    &.productItem__price--club {
        align-items: flex-end;
    }

    .productItem__priceRegular__heading {
        font-size: 12px;
        width: 90px;
        flex-shrink: 0;
    }

    .title--small {
        line-height: 1.3;
    }
}

.productItem__price--club {
    padding-left: 14px;
    margin-top: 12px;
    line-height: 1;
    position: relative;
    padding-left: 12px;
    //padding: 16px;

    &::before {
        background: $red1;
    }
}

.productItem__price--club,
.productItem__price--regular {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        display: block;
        width: 4px;
        height: 100%;
        background: $red1;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}

.productItem__priceClub__heading {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 6px;
}

.productItem__priceClub__title {
    text-transform: uppercase;
    color: $red1;
    font-size: 14px;
    font-weight: 700;
}

.productItem__tag {
    margin-left: 4px;
    padding: 0;
    background: transparent;
    border-radius: 8px;
    color: $red1;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
}

.productItem__info__price {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    margin-top: 8px;
}

.productItem__price__main {
    position: relative;
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    line-height: 0.8;
    margin-right: 0.2em;

    .productItem__cents {
        position: relative;
        left: -2px;
        font-size: 16px;
        margin-top: 0.25em;
    }
}

.productItem__period,
.productItem__price .monetarySign {
    font-size: 0.7em;
    font-weight: bold;
}

.productItem__period {
    font-weight: normal;
}

.productItem__installments {
    font-size: 12px;
    color: #322e2d;
    margin-top: 8px;
    text-align: left;
}

.productItem__savings {
    margin-top: 8px;
    font-size: 1em;

    .monetarySign {
        font-size: 12px;
    }
}

.productItem__savings__title {
    font-weight: 300;
    color: inherit;
}

.productItem__price--regular {
    position: relative;
    padding-left: 14px;
    margin-top: 12px;
    line-height: 1;

    &::before {
        background: #9790ad;
    }
}

.productItem__priceRegular__title {
    line-height: 1;
    margin-bottom: 4px;
}

.productItem__priceRegular__title {
    font-weight: normal;
    font-size: 1em;
}

.productItem__buy {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn--buy {
        font-size: 14px;

        @include sm {
            width: 174px;
        }

        @include md {
            max-width: 60%;
        }
    }
}

.productItem__buy__link {
    color: $blueLink;
    margin-left: 8px;
    font-size: 14px;
}

.productItem__img {
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;

        @supports (object-fit: cover) {
            width: 100%;
            object-fit: cover;
        }
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 38%;

        @include sm {
            padding-bottom: 70%;
        }
    }

    &.productItem__img--freeSize {
        &::after {
            display: none;
        }

        img {
            position: static;
            height: auto;
            width: auto;
        }
    }
}

.productItem__price {
    .separator {
        @include xs {
            display: none;
        }
    }
}

.productItem__price--discount {
    padding: 8px 8px 8px 16px;

    .productItem__price__main {
        font-weight: 400;

        .monetarySign {
            font-size: 1em;
        }
    }

    .productItem__savings {
        margin-top: 0px;
    }
}

.productItem__info__price--discount__former {
    color: $red3;
    font-size: 14px;
}

.productItem__info__price--discount__current {
    font-size: 14px;

    .large {
        font-size: 1.5em;
    }
}

.selo-off {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: $red3;
    color: #fff;
    text-align: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: -16px;
    font-weight: 500;
}

.selo-off__amount {
    display: block;
    font-size: 24px;
    width: 100%;
    font-weight: 900;

    span {
        font-size: 0.7em;
    }
}

.blogItem {
    padding: 20px;

    .productItem__details,
    .productItem__desc {
        padding-left: 0;
        padding-right: 0;
    }

    .productItem__title {
        font-weight: 700;
        line-height: 1.1;
    }
}

.blogItem__category {
    margin-bottom: 12px;
    color: $red1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 500;
    font-size: 11px;
}

.productItem__excerpt__learnMore {
    color: $blueLink;
    font-weight: 700;
}

.homeSection--local__video {
    margin-top: 24px;
}
.productItem__price--minicart__inner {
    position: relative;
    z-index: 10;
}
.productItem__price__preHeading {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    .learnMoreLink {
        white-space: nowrap;
        font-size: 11px;
    }

    .tab {
        position: relative;
        min-width: 90px;
        height: 20px;
        line-height: 20px;
        white-space: nowrap;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background: $red1;
        text-align: center;
        color: #fff;
        font-weight: 900;
        font-size: 10px;

        &::before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            display: block;
            width: 100%;
            height: 10px;
            background: $red1;
        }
    }
}

label {
    cursor: pointer;
}
