.productPage {
    p {
        color: #777288;
    }

    .wrapper {
        @include md {
            padding-right: 330px;
        }
        @include mq(1440) {
            padding-right: 360px;
        }
        .left {
            @include md {
                min-width: 330px;
            }
            /* @include mq(1440) {
                min-width: 400px;
            } */
        }
    }
}

.productPage__intro,
.productPage__details {
    margin-top: 40px;
    .wrapper {
        @include sm {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        .left {
            img {
                width: 100%;
            }

            @include sm {
                width: 50%;
                flex-shrink: 0;
                margin-right: 32px;
                max-width: 350px;
            }
        }
    }
}
.productPage__intro {
    @include md {
        .left {
            .iframe-wrapper,
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        .right {
            margin-bottom: 32px;
            font-size: 14px;
        }
    }
}

.productPage__details {
    background: #e6e5e9;
    padding-bottom: 48px;
    .right {
        padding-top: 28px;
    }
    @include md {
        margin-top: 0;
    }
}
.productPage__details__images {
    img {
        margin-bottom: 20px;
    }
}
.details__list {
    li {
        position: relative;
        display: block;
        padding-left: 12px;
        margin-bottom: 24px;
        font-size: 14px;
        h3 {
            @include md {
                font-size: 18px;
            }
        }
        p {
            margin-top: 0.3em;
            color: #777288;
        }
        &::before {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            display: inline-block;
            background: $red1;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 0.1em;
            line-height: 1;
        }
    }
}

.ratings__user__stars {
}

.productPage__ratings {
    padding: 32px 0;
    @include sm {
        padding: 48px 0;
    }
    background: #f7f7f7;
    .wrapper {
        padding-right: 0;
    }
}
.productPage__ratings__title {
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    @include sm {
        text-align: left;
        font-size: 32px;
    }
}
.ratings__list {
    @include sm {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-left: -14px;
        margin-right: -14px;
    }
    li {
        display: block;
        margin-top: 32px;
        @include sm {
            width: calc(33.33%);
            padding-left: 14px;
            padding-right: 14px;
        }
    }
}
.ratings__user {
    margin-top: 28px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.ratings__user__avatar {
    flex-shrink: 0;
    width: 55px;
    height: 55px;
    @include mq(1440) {
        width: 85px;
        height: 85px;
    }
    margin-right: 16px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0 0 2px #c4c5c7;
    padding: 8px;
    background-position: center;
    background-size: cover;
    @media (min-width: 768px) and (max-width: 1023px) {
        width: 50px;
        height: 50px;
    }
}
.ratings__user__name {
    font-weight: 700;
    font-size: 18px;
    @include mq(1440) {
        font-size: 22px;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        font-size: 16px;
    }
}

.ratings__user__stars {
}

.ratings__text {
    margin-top: 12px;
    font-size: 14px;
    color: #777187;
}

.ratings__stars {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    .icon {
        width: 15px;
        height: 14px;
        margin-top: 2px;
        margin-right: 4px;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.2 14.5' %3E%3Cpath id='Star_Copy_9_1_' fill='%23D8D6DE' d='M7.6,12l-4.7,2.5l0.9-5.2L0,5.5l5.3-0.8L7.6,0L10,4.8l5.3,0.8l-3.8,3.7l0.9,5.2L7.6,12z '/%3E%3C/svg%3E");
        &.icon-star--filled {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.2 14.5' %3E%3Cpath  id='Star_Copy_9_1_' fill='%23F3BD25' d='M7.6,12l-4.7,2.5l0.9-5.2L0,5.5l5.3-0.8L7.6,0L10,4.8l5.3,0.8l-3.8,3.7l0.9,5.2L7.6,12z '/%3E%3C/svg%3E");
        }
    }
}

.productPage__title {
    line-height: 1;
    margin-top: 16px;
    @include md {
        margin-top: 0;
        font-weight: 400;
        font-size: 44px;
    }
}
.productPage__subtitle {
    line-height: 1.2;
    margin: 4px 0 20px 0;
    @include md {
        margin: 12px 0 8px 0;
        line-height: 1.3;
        font-size: 16px;
    }
}
