* {box-sizing:border-box; padding: 0; margin: 0;}
::before,::after {box-sizing:inherit;}
 
input, select, textarea, button {
	font-family: inherit;
	color: currentColor;
} 
button {
	border:0;
	background: transparent;
	-webkit-appearance: none;
	cursor: pointer;
	&:focus {outline: 0;}
}
a {
	color: inherit;
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
svg {
	fill: currentcolor;
}   
 

