/* Base com definições globais */

/* == 1: Responsivo */

$screen-small: 767px;
$screen-tablet: 768px;
$screen-medium: 1024px;
$screen-large: 1400px;

// Small devices (767px-)
@mixin xs {
    @media (max-width: #{$screen-small}) {
        @content;
    }
}

// Medium devices (768px+)
@mixin sm {
    @media (min-width: #{$screen-tablet}) {
        @content;
    }
}

// Large devices (1024px+)
@mixin md {
    @media (min-width: #{$screen-medium}) {
        @content;
    }
}

// Extra large devices (1400px+)
@mixin lg {
    @media (min-width: #{$screen-large}) {
        @content;
    }
}

// Tamanho livre
@mixin mq($screen) {
    @media (min-width: $screen+"px") {
        @content;
    }
}

@mixin mqMax($screen) {
    @media (max-width: $screen+"px") {
        @content;
    }
}

/* ==== EXEMPLOS
   body { 
        background: lime;
        
        @include sm {
            background: red;
        }
        @include md {
            background: orange;
        } 
        @include lg {
            background: #ff11cc;
        }
        @include xl {
            background: #0020cc;
        }
        @include mq(1800) {
            background: #eee;
    }
}
*/

.clearfix::after {
    content: "";
    clear: both;
    width: 100%;
    display: block;
}

.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    //grid-gap: $grid-gapY $grid-gapX;
}

.flexJustify {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.iframe-wrapper {
    position: relative;
    cursor: pointer;
    svg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 92px;
        z-index: 2;
        transition: transform 0.2s;
        fill: #fff;
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &::after {
        content: "";
        display: block;
        padding-bottom: 56.6%;
        width: 100%;
    }
    &:hover {
        svg {
            transform: scale(1.1);
        }
    }
}


.icon-toggle {
    position: relative;
    cursor: pointer;
    .icon-alt {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
    }
    &.is-current {
        .icon-alt { 
            opacity: 1;
        }
        .icon-main {
            visibility: hidden;
        }
    }
} 
 